# Lesson 1: Data Types and Operators

### Arithmetic Operators

Addition

In [ ]:
print(1 + 5)

Subtraction

In [2]:
print(1 - 5)

-4

Multiplication

In [6]:
print(1 * 5)

5

Division

In [12]:
print(2 / 4)

0.5

Modulo -  returns remainder after first number divided by the second number

In [20]:
print(4 % 2)

0

Exponentiation

In [17]:
print(3 ** 2)

9

Integer Division

In [21]:
print(7 // 2)

3

In [22]:
print(-7 // 2)

-4

Bitwise XOR

^ - sometimes confused for exponentiation(**)

### Variables and Assignment Operations

Assignment operator =

In [25]:
x = 3
y = x
print(x)

3

NameError when you dont assign an undefinded variable

In [26]:
x = 3
y = z
print(x)

NameError: name 'z' is not defined

### Integers and Floats

python every object has a type

the type of the object can be found using the built in function type()

In [27]:
print(type(4))

<class 'int'>

In [28]:
#int
print(4)

4

In [29]:
#float
print(4.)

4.0

In [31]:
#no rounging off occurs
print(int(49.7))

49

Because the float, or approximation, for 0.1 is actually slightly more than 0.1, when we add several of them together we can see the difference between the mathematically correct answer and the one that Python creates.

In [33]:
print(0.1 + 0.1 + 0.1)

0.30000000000000004

### Booleans, Comparison, and Logical Operators

Booleans, Comparison Operators, and Logical Operators
The bool data type holds one of the values True or False, which are often encoded as 1 or 0, respectively.

There are 6 comparison operators that are common to see in order to obtain a bool value:

Comparison Operators

Symbol Use Case	Bool	Operation

5 < 3	False	Less Than

5 > 3	True	Greater Than

3 <= 3	True	Less Than or Equal To

3 >= 5	False	Greater Than or Equal To

3 == 5	False	Equal To

3 != 5	True	Not Equal To

And there are three logical operators you need to be familiar with:

Logical Use	Bool	Operation

5 < 3 and 5 == 5	False	and - Evaluates if all provided statements are True

5 < 3 or 5 == 5	True	or - Evaluates if at least one of many statements is True

not 5 < 3	True	not - Flips the Bool Value

### Type And Type Conversion

You have seen four data types so far:

int

float

bool

string

You got a quick look at type() from an earlier video, and it can be used to check the data type of any variable you are working with.

In [35]:
"0" + "5"

'05'

In [36]:
0 + 5

5

In [37]:
"0" + 5

TypeError: must be str, not int

In [38]:
0 + "5"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Strings

Different methods depending on the type of objects

In [39]:
print("hellow world".title())

Hellow World

In [40]:
print("Hellow World".islower())

False

In [41]:
print("one fish two fish three fish".count('fish'))

3

In [42]:
new_str = "The cow jumped over the moon."
new_str.split()

['The', 'cow', 'jumped', 'over', 'the', 'moon.']

In [43]:
new_str.split(' ', 3)

['The', 'cow', 'jumped', 'over the moon.']

In [44]:
new_str.split('.')

['The cow jumped over the moon', '']

In [45]:
new_str.split(None, 3)

['The', 'cow', 'jumped', 'over the moon.']